.main{
    min-height: 100vh;          /* full screen */
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#ea2727;

}

.login{
    width: 90%;                 /* mobile friendly */
    max-width: 400px;           /* desktop limit */
    padding: 20px;
    background-color:#d4ad1f;
    display:flex;
    justify-content:center;
    /* align-items: center; */
    
}

.login-form{

    width: 100%;
    border: 3px solid black;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;     /* spacing between elements */

}

